body {
  font-family: "Nexa";
  font-style: normal;
}
.prevention {
  margin: 90px 50px 100px 90px;
}
h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 86px;
  color: #09a8ef;
  text-align: center;
  margin: 70px auto;
  padding: auto;
}
section {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 90vh;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}
img {
  max-width: 500px;
  height: auto;
  padding-left: 20px;
  padding-right: 50px;
}
h2 {
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 40px;
}
p {
  margin: 0;
}
.rev-section {
  flex-direction: row-reverse;
}
